{% include 'navbar.html' %}
{% load static %}

<html>
<head>
  <title>Signup</title>
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'core/css/bootstrap.css' %}"
  />

  <style>
    .gradient-custom {
      /* fallback for old browsers */
      background: #6a11cb;
      
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
      }
  </style>

</head>
<body>
  <section class="vh-100 gradient-custom">
    <form action="." method="post">
        {% csrf_token %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5"> 
  
                <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                <p class="text-white-50 mb-5">Please setup your username and password!</p>
  
                <div class="form-outline form-white mb-4">

                  <label class="form-label fw-bold mb-2" for="typeEmailX">Username</label>
                  <input type="email" name="username" class="form-control form-control-lg" />
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label fw-bold mb-2" for="typePasswordX">Password</label>
                  <input type="password" name="password1" class="form-control form-control-lg" />
                </div>

                <div class="form-outline form-white mb-4">
                    <label class="form-label fw-bold mb-2" for="typePasswordX">Re-enter Password</label>
                    <input type="password" name="password2" class="form-control form-control-lg" />
                </div>

                

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
  
              </div>
  
              <div>
                <p class="mb-0">Already have an account? <a href="/login/" class="text-white-50 fw-bold">Login</a>
                </p>
              </form>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>